body {
font-family: Arial, sans-serif;
font-size: 8rem;
font-weight: bolder;
margin: auto;
background-color: var(--cordefundo);
padding: 0 16px;
}
/*Cores do projeto*/
:root {
  --cordefundo: #200a3f;
  --corcontainerdiv: #d838f4;
}

.center{
  display: inline-block;  
}

/*Conteudo principal*/
div#container { 
  margin: auto;
  max-width: 900px;
  user-select: none;/*desabilitar seleção de texto por completo..*/
  padding: 10vh 0;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "x1 x2 x3"
    "x4 x5 x6"
    "x7 x8 x9";
  grid-gap: 5px;
  color: #fff;
}

div#container div {
display: flex;
align-items: center;
justify-content: center;
width: auto;
height: auto;
background-color: var(--corcontainerdiv);
box-sizing: border-box;
}

div#container div.x1 {
  grid-area: x1;
}

div#container div.x2 {
  grid-area: x2;
}

div#container div.x3 {
  grid-area: x3;
}

div#container div.x4 {
  grid-area: x4;
}

div#container div.x5 {
  grid-area: x5;
}

div#container div.x6 {

  grid-area: x6;
}

div#container div.x7 {
  grid-area: x7;
}

div#container div.x8 {
  grid-area: x8;
}

div#container div.x9 {
  grid-area: x9;
}
