body {
font-family: Arial, sans-serif;
font-size: 8rem;
font-weight: bolder;
/*height: 100%;*/
margin: auto;
background-color: #200a3f;
padding: 0 16px;
}
.center{
  display: inline-block;  
}
div#container { 
  margin: auto;
  max-width: 1000px;
  user-select: none;/*desabilitar seleção de texto por completo..*/
padding: 10vh 0;
height: 80vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "x1 x2 x3"
    "x4 x5 x6"
    "x7 x8 x9";
  grid-gap: 5px;
  
  color: #fff;
}
div#container div {
display: flex;
align-items: center;
justify-content: center;

width: auto;
height: auto;
  background-color: #d838f4;
  
/*box-sizing: border-box;*/
}
div#container div.x1 {
  grid-area: x1;
}
div.x2 {
  grid-area: x2;
}
div.x3 {
  grid-area: x3;
}
div.x4 {
  grid-area: x4;
}
div.x5 {
  grid-area: x5;
}
div.x6 {
/*background-image: url("./img/cr.jpg");
background-position: center center;
background-size: contain; cover 
background-repeat: no-repeat;*/

/*background-image: url("./img/cr.jpg");
background image 
background-position: center center;
background-size: contain;
background-repeat: no-repeat;*/
  grid-area: x6;
}
div.x7 {
  grid-area: x7;
}
div.x8 {
  grid-area: x8;
}
div.x9 {
  grid-area: x9;
}
